<section>
    <h3>{{city.name}}</h3>
    @switch (disposition) {
        @case ('v1') {
            Caractéristiques (v1):
            <ul>
                <li>population: {{city.population ?? 'non renseignée'}}</li>
                <li>code postal: {{city.zipcode?.toUpperCase() ?? 'non renseigné'}}</li>
                <li>code postal (bis): {{city.zipcode | uppercase | notDefined:'non renseigné' }}</li>
                <li>code postal (bis): {{city.zipcode | uppercase | notDefined:'à définir' }}</li>
                <li>code postal (bis): {{city.zipcode | uppercase | notDefined }}</li>
            </ul>
        }
        @case ('v2') {
            Caractéristiques (v2):
            <ul>
                @if (city.population) {
                    <li>population: {{city.population}}</li>
                }
                @if (city.zipcode) {
                    <li>code postal: {{city.zipcode.toUpperCase()}}</li>
                } @else {
                    <li>pas de code postal</li>
                }
            </ul>
        }
        @default {
            -- pas de détails --
        }
    }
   
 
    
  </section>
