<h2>Liste de villes: {{cities.length}}</h2>
<ul>
    <!-- utiliser var spéciales: $index, $first, $last, $count, $odd, $even -->
    @for (city of cities; track $index) {
        <li [class]="$first ? 'first': 'not-first'">{{$index +1}}/{{$count}} - {{city.name}}
            @if (city.population || city.zipcode){
                (@if (city.population){
                    pop={{city.population}}
                }
                @if (city.zipcode){
                    , cp={{city.zipcode}}
                })
            }
            <input type="checkbox" [checked]="city.prefecture"/>
        </li>
    }
</ul>

<button (click)="addCity()">Ajouter ville</button>
<button (click)="resetPrefecture()">Reset préfecture(s)</button>
