<h2>Liste de villes: {{cities.length}}</h2>

<div class="revision">
<p>Dernière révision (format custom): {{today | date:'dd/MM/y'}}</p>
<p>Dernière révision (shortdate format): {{today | date:'shortDate'}}</p>
<p>Dernière révision (format custom mots): {{today | date:'EEEE dd MMMM y'}}</p>
<p>Dernière révision (longdate format): {{today | date:'longDate'}}</p>
<p>Dernière révision (format custom mots ES): {{today | date:'EEEE dd MMMM y':undefined:'es-ES'}}</p>
</div>

<ul>
    <!-- utiliser var spéciales: $index, $first, $last, $count, $odd, $even -->
    @for (city of cities; track $index) {
        <li [class]="$first ? 'first': 'not-first'">{{$index +1}}/{{$count}} - {{city.name}}
            @if (city.population || city.zipcode){
                (@if (city.population){
                    pop={{city.population}}
                }
                @if (city.zipcode){
                    , cp={{city.zipcode}}
                })
            }
            <input 
                type="checkbox" 
                [checked]="city.prefecture"
                (change)="changePrefectureState($index, $event)"
            />
        </li>
    }
</ul>

<button (click)="addCity()">Ajouter ville</button>
<button (click)="resetPrefecture()">Reset préfecture(s)</button>

<h2>Liste de villes (sous composant)</h2>
@for (city of cities; track $index) {
     <!-- disposition par défaut -->
    <!-- <app-city-card [city]="city" />  -->
    
    <!-- disposition fixe -->
    <app-city-card [city]="city" disposition="v2"/> 
    
    <!-- disposition  dynamique -->
    <!-- <app-city-card [city]="city" [disposition]="disposition"/>  -->
}